{% load i18n %}

<div class="modal-header">
    <h5 class="modal-title">{% translate 'Nova Categoria' %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="categoryForm" method="post">
    {% csrf_token %}
    <div class="modal-body">
        {% if form.errors %}
        <div class="alert alert-danger">
            <h6>{% translate 'Erro no formulário' %}</h6>
            {{ form.errors }}
        </div>
        {% endif %}
        
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
            {% if form.name.errors %}
            <div class="text-danger small">{{ form.name.errors }}</div>
            {% endif %}
        </div>
        
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
            {% if form.description.errors %}
            <div class="text-danger small">{{ form.description.errors }}</div>
            {% endif %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate 'Cancelar' %}</button>
        <button type="submit" class="btn btn-primary">{% translate 'Salvar' %}</button>
    </div>
</form>
